<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HTML Viewer</title>
  </head>
  <body>

  </body>
  <script src="./js/thorium.js" type="text/javascript"></script>
  <script type="text/javascript">
    async function ObjectParser(object){

      if("proto" in object){

          const values = Object.values(object.proto);
          const keys = Object.keys(object.proto);

          for(const i of Array.from({length : keys.length} , (i,x) => x )){
              if(values[i].includes('function'))object.proto[keys[i]] = eval(`(${values[i]})`);
          }

      }

      if("childrens" in object && object.childrens.length > 0)for await(const i of Array.from({length : object.childrens.length} , (x,i) => i)){
          object.childrens[i] = await ObjectParser(object.childrens[i]);
      }

      return object;

    }

    const { ipcRenderer } = require("electron");

    (async function(){

      const data = ipcRenderer.sendSync('HTML-view-import', '');
      const App = await ObjectParser(data.app);
      // const App = new thorium.UI.NodeUI([data.app]);
      // console.log(App)
      //
      const view = class extends View{

        constructor(){
          super(App);
        }

      }

      for(const cssFileKey of Object.keys(data.css)){
        const cssFile = document.createElement('style');
        cssFile.id = cssFileKey;
        cssFile.innerHTML = data.css[cssFileKey];
        document.head.appendChild(cssFile);
      }

      for(const libFileKey of Object.keys(data.lib)){
        const scriptFile = document.createElement('script');
        scriptFile.id = libFileKey;
        scriptFile.type = "text/javascript";
        scriptFile.innerHTML = data.lib[libFileKey].data;
        document.head.appendChild(scriptFile);
      }

      thorium.Vue(view).Show();

    })()
  </script>
</html>
